/*body,
 table,
    thead,
    tr,
    tbody,
    th,
    td {
        text-align: center;
    }*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
	/* text-align: center !important; */
    font-size: 19px !important;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: brown !important; */
}
p{
	margin-top: 20px;
	font-size: 30px;
}
input{
	text-align: center;
}

select { 
   text-align-last:center; 
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}

/* ================= Home Page ============ */
.card {
    border: .5px solid lightgray;
    border-radius: 5px;
    padding: 10px;
}

.card p {
    color: #FBA70B;
}

.card_list_ul{
    display: inline-block;
}

.card_list_li{
    display: inline-block;
}

.card_list_li a{
    display: block;
    padding: 5px 8px;
    /* color: white; */
    border-radius: 5px;
    /* background-color: lightseagreen; */
}

